body {

  font-family: Arial, sans-serif;

  background-color: #f0f8ff;

  margin: 0;

  padding: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  color: #333;

}



.container {

  background-color: #ffffff;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 20px;

  width: 90%;

  max-width: 400px;

  text-align: center;

  box-sizing: border-box;

}



.logo {

  width: 100px;

  margin-bottom: 20px;

 

}



h1 {

  color: #1e90ff;

  font-size: 24px;

  margin-bottom: 20px;

}



.button {

  background-color: #1e90ff;

  color: #ffffff;

  border: none;

  padding: 12px 0;

  margin: 10px 0;

  border-radius: 5px;

  text-decoration: none;

  display: inline-block;

  cursor: pointer;

  font-size: 16px;

  width: 100%;

}



.button:hover {

  background-color: #1c86ee;

}



form {

  display: flex;

  flex-direction: column;

  width: 100%;

}



label {

  margin-top: 10px;

  text-align: left;

  font-size: 14px;

}



input {

  padding: 10px;

  margin-top: 5px;

  border: 1px solid #ccc;

  border-radius: 5px;

  font-size: 14px;

}



.google-signup {

  margin: 15px 0;

}



.google-button {

  background-color: #4285f4;

  color: #ffffff;

  border: none;

  padding: 12px 0;

  margin: 10px 0;

  border-radius: 5px;

  text-decoration: none;

  display: inline-block;

  cursor: pointer;

  font-size: 16px;

  width: 100%;

}



.google-button:hover {

  background-color: #357ae8;

}



p {

  margin-top: 15px;

  font-size: 14px;

}



a {

  color: #1e90ff;

  text-decoration: none;

}



a:hover {

  text-decoration: underline;

}



/* Media Query for larger screens */

@media (min-width: 600px) {

  .container {

      width: 80%;

      max-width: 500px;

  }



  h1 {

      font-size: 28px;

  }



  .button,

  .google-button {

      padding: 14px 0;

      font-size: 18px;

  }

}



@media (min-width: 768px) {

  .container {

      width: 60%;

  }



  h1 {

      font-size: 32px;

  }



  .button,

  .google-button {

      padding: 16px 0;

      font-size: 20px;

  }

}



.form-group input {

  width: 100%;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 4px;

}



.form-group input::placeholder {

  color: #aaa;

}



.btn {

  background-color: #007bff;

  color: #fff;

  border: none;

  padding: 10px 20px;

  cursor: pointer;

  border-radius: 4px;

  transition: background-color 0.3s ease;

  width: 100%;

  text-align: center;

}



.btn:hover {

  background-color: #0056b3;

}



